<h1>Dashboard view</h1>
<p>This would be the {{user.name}} {{user.surname}} dashboard area</p>
<h2>Itens of a array:</h2>
<ul>
{{#each items}}
  <li>{{this }}</li>
{{/each}}
</ul>
<a href="/">Back to index</a>
