<h1>Index view</h1>
<p>This is a paragraph at home</p>
<p>Name: {{user.name}} </br> Surname {{user.surname}}</p>
{{#if auth}}
  <p>
    the auth var is true:
    <br> <a href="/dashboard">click here</a> to access dashboard.</br>
    <a href="/blog">click here</a> to access blog. </br>
    <a href="/post">click here</a> to go to blogposts.
  </p>
{{else}}
  <p>
    the auth var is false.
  </p>
{{/if}}
