<div class="thoughts-form-container">
  <a href="/thoughts/dashboard">Back to dashboard</a>
  <h1>Creating a thought</h1>
  <form action="/thoughts/add" method="POST">
  <div class="form-control">
    <label for="title">Thought:</label>
    <input type="text" name="title" placeholder="Type your thoughts...">
  </div>
  <input type="submit" value="Create thought">
  </form>
</div>