<div class="dashboard">
  <div class="title-container">
    <h2>Dashboard</h2>
    <a href="/thoughts/add" class="btn">Share a thought</a>
  </div>
  <h3>Your thought</h3>
  <ul>
    {{#each thought }}
    <li>
      <span class="label">{{this.title}}</span>
      <span class="actions">
        <a href="/thoughts/edit/{{this.id}}" class="btn">Edit</a>
        <form action="/thoughts/remove" method="POST">
          <input type="hidden" name="id" value="{{this.id}}">
          <input type="submit" value="Delete" class="btn">
        </form>
      </span>
    </li>
    {{/each}}
  </ul>
  {{#if emptyThoughts}}
    <p>Nothing here, <a href="/thoughts/add">start sharing!</a></p>
  {{/if}}
</div>