<div class="thoughts-form-container">
  <a href="/thoughts/dashboard">Back to dashboard</a>
  <h1>Editing a thought</h1>
  <form action="/thoughts/edit" method="POST">
  <input type="hidden" name="id" value="{{thought.id}}">
  <div class="form-control">
    <label for="title">Thought:</label>
    <input type="text" name="title" placeholder="Type your thoughts..." value="{{thought.title}}">
  </div>
  <input type="submit" value="Edit thought">
  </form>
</div>