<h1>Register product</h1>
<form action="/products/create" method="POST">
  <div class="form-control">
    <label for="name">Product name:</label>
    <input type="text" name="name" placeholder="Enter the product name">
  </div>
  <div class="form-control">
    <label for="image">Product photo:</label>
    <input type="text" name="image" placeholder="Insert image URL">
  </div>
  <div class="form-control">
    <label for="price">Product price:</label>
    <input type="text" name="price" placeholder="Enter the product price">
  </div>
  <div class="form-control">
    <label for="description">Product description:</label>
    <textarea name="description" placeholder="Enter the product description"></textarea>
  </div>
  <input type="submit" value="register" class="btn">
</form>