<div class="auth-container">
  <h2>Register</h2>
  <form action="/register" method="POST">
    <div class="form-control">
      <label for="name">Name:</label>
      <input type="text" name="name" placeholder="Enter your name" required>
    </div>
    <div class="form-control">
      <label for="email">Email:</label>
      <input type="email" name="email" placeholder="Enter your email" required>
    </div>
    <div class="form-control">
      <label for="password">Create your password:</label>
      <input type="password" name="password" placeholder="Password" required>
    </div>
    <div class="form-control">
      <label for="confirmpassword">Confirm your password:</label>
      <input type="password" name="confirmpassword" placeholder="Password" required>
    </div>
    <input type="submit" value="Confirm Register">
    <p>
      Already a memeber? <a href="/login">Click here</a>
    </p>
  </form>
</div>